@{
    ViewBag.Title = "About";
}
<!-- About Start -->
<div class="col-lg-5 wow bounceInUp" data-wow-delay="0.1s">

    <br />
</div>
<div class="container-fluid py-6" style="text-align: center;">
    <div class="container">
        <div class="row g-5 align-items-center" style="justify-content: center;">
            <br />
            <div class="col-lg-7 wow bounceInUp" data-wow-delay="0.3s" style="margin: 0 auto; color: black;">
                <br />
                <h4 class="display-5 mb-4" style="color: black;">About Community Markets</h4>
                <br />
                <p class="mb-4" style="color: black;">
                    Welcome to Community Market, your one-stop shop for all things items! We specialize in selling, as well as providing top-notch selling services to keep your businesses running smoothly.
                </p>
                <p class="mb-4" style="color: black;">
                    <strong style="color: black;">Our Mission:</strong> At Community Markets we are dedicated and well driven to support our customers terms, our team of experts is here to help.
                </p>
                <p class="mb-4" style="color: black;">
                    <strong style="color: black;">What We Offer:</strong>
                    <ul style="list-style-position: inside; color: black;">
                        <li>Goods: From the latest items to budget-friendly options, we have something for everyone.</li>
                        <li>Expert services: Our skilled staff can handle everything from order to delivery.</li>
                        <li>Customer Satisfaction: We pride ourselves on our friendly and knowledgeable staff who are always ready to assist you with your community needs.</li>
                    </ul>
                </p>
                <p class="mb-4" style="color: black;">
                    <strong style="color: black;">Why Choose Us?</strong>
                    <ul style="list-style-position: inside; color: black;">
                        <li>Quality Products: We only stock products from trusted brands to ensure you get the best value for your money.</li>
                        <li>Affordable Prices: Competitive pricing and regular promotions make it easy to find great deals.</li>
                        <li>Reliable Service: With years of experience in the industry, you can trust us to provide reliable and efficient community market services.</li>
                    </ul>
                </p>
                <p class="mb-4" style="color: black;">
                    Thank you for choosing Community Markets. We look forward to serving you!
                </p>
            </div>
        </div>
    </div>
</div>

<!-- About End -->
