@{
    ViewBag.Title = "Home Page";
}
<!-- Hero Start -->
<br/> <br/><br/>
<h4> style="text-align: center; color: black; font-size: 3em;"Community Market" </h4>
<br/>
<div class="container-fluid bg-light py-6 my-6 mt-0">
    <div class="container">
        <div class="row g-5 align-items-center">
            <div class="col-lg-5 col-md-12">
                <img src="~/Content/imagez/indexx.jpeg" style="float: left; width: 95%;" />
            </div>
            <div class="col-lg-7 col-md-12">
                <h4 class="display-1 mb-4 animated bounceInDown" style="font-size: 3.5em; color: blue;">Get your favourite <span style="color: black;">Items</span>...</h4>
                <a href="/Products/Index" class="btn border-0 rounded-pill py-3 px-4 px-md-5 me-4 animated bounceInLeft" style="background-color: black; color: blue; font-size: 1.5em;">Order now</a>
                <a href="/Home/About" class="btn border-0 rounded-pill py-3 px-4 px-md-5 animated bounceInLeft" style="background-color: black; color: blue; font-size: 1.5em;">Know More</a>
            </div>
        </div>
    </div>
</div>
<!-- Hero End -->
