@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<main>
    <hgroup>
        <h1 class="text-danger">Locked out.</h1>
        <h2 class="text-danger">Account locked out, please try again later.</h2>
    </hgroup>
</main>
